
systemDataPath = ./entitylinking/

linkGraph = pageLinkGraph
cooccurGraph = co-occurGraph
weighted = 1

gateHome = gate8.1

lucene-a2e = a2eIndex
tfidfIndex = tfidfIndex

useUnambigEntity = 1
useIterative = 1
mentionPrefStrategy = UNIFORM
entityPrefStrategy = UNIFORM

contextOption = document

priorWeight = 0.08
localWeight = 0.1

rankScheme = MULTIPLY

supervised = 0
modelFile = models/6.model

NILPrediction = 0
nilModel = models/nil.model

targetFile = benchmark-dataset.xml
